.side-nav{
    overflow: auto;
    max-height: 320px;
    &__menu{
       margin: 0;
       padding: 0;
    }
    &__menu-content{
        display: block;
        color: #337ab7;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        border-left:3px solid #e5e5e5;
        padding: 5px 15px;
        cursor: pointer;
        &:hover{
            border-left:3px solid #2a82e5;
            color: #000000;
        }
    }
}