    <ng-container *ngIf="identifier === 'kt-data'">
        <ng-container *ngTemplateOutlet="AnimatedGauge"></ng-container>
    </ng-container>
    
    <ng-container *ngIf="identifier === 'kt-datavim'">
        <ng-container *ngTemplateOutlet="PictorialSliceShape"></ng-container>
    </ng-container>
    
    <ng-container *ngIf="identifier === 'kt-datarpm'">
        <ng-container *ngTemplateOutlet="PictorialChart"></ng-container>
    </ng-container>
    
    <ng-container *ngIf="identifier === 'kt-datavpm'">
        <ng-container *ngTemplateOutlet="AnimatedGaugeBlue"></ng-container>
    </ng-container>

    <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-avpm'">
      <ng-container *ngTemplateOutlet="Speedometer"></ng-container>
  </ng-container>
  
  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-erpm'">
      <ng-container *ngTemplateOutlet="Tachometer"></ng-container>
  </ng-container>

  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-ecTemp'">
    <ng-container *ngTemplateOutlet="EngineCoolantTemperature"></ng-container>
  </ng-container>
  
  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-airTemp'">
      <ng-container *ngTemplateOutlet="IntakeAirTemperature"></ng-container>
  </ng-container>
  
  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-AbsBP'">
      <ng-container *ngTemplateOutlet="AbsoluteBarometricPressure"></ng-container>
  </ng-container>

  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-mAbsp'">
    <ng-container *ngTemplateOutlet="IntakeManifoldAbsolutePressure"></ng-container>
  </ng-container>
  
  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-Aflr'">
    <ng-container *ngTemplateOutlet="AirFlowRate"></ng-container>
  </ng-container>

  <ng-container *ngIf="identifier === 'kt-data-KL01AW8561-Thrp'">
    <ng-container *ngTemplateOutlet="ThrottlePosition"></ng-container>
  </ng-container>

  <ng-container *ngIf="identifier === 'kt-data-TN67AM3839-enginetemp/4'">
    <ng-container *ngTemplateOutlet="TemperatureGauge"></ng-container>
  </ng-container>

  <ng-container *ngIf="identifier === 'kt-data-TN67AM3839-batterylevel/4'">
    <ng-container *ngTemplateOutlet="IndicatorGauge"></ng-container>
  </ng-container>
    
    <ng-template #AnimatedGauge>
        <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index"> 
            <app-animated-gauge [value]="tx.value" [name]="tx.node"></app-animated-gauge>
        </div>
        </div>
    </ng-template>
    
    <ng-template #PictorialSliceShape>
        <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
            <app-pictorial-slice-shape
            [value]="tx.value"
            [name]="tx.node"
            ></app-pictorial-slice-shape>
        </div>
        </div>
    </ng-template>
    
    <ng-template #PictorialChart>
        <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
            <app-pictorial-chart
            [value]="tx.value"
            [name]="tx.node"
            ></app-pictorial-chart>
        </div>
        </div>
    </ng-template>
    
    <ng-template #AnimatedGaugeBlue>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-animated-gauge-blue
        [value]="tx.value"
        [name]="tx.node"
        ></app-animated-gauge-blue>
    </div>
    </div>
  </ng-template>

  <ng-template #Speedometer>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-speedometer
        [value]="tx.value"
        [name]="tx.node"
        ></app-speedometer>
    </div>
    </div>
  </ng-template>

  <ng-template #Tachometer>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-tachometer
        [value]="tx.value"
        [name]="tx.node"
        ></app-tachometer>
    </div>
    </div>
  </ng-template>

  <ng-template #IntakeAirTemperature>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-intake-air-temperature
        [value]="tx.value"
        [name]="tx.node"
        ></app-intake-air-temperature>
    </div>
    </div>
  </ng-template>

  <ng-template #Battery>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-battery
        [value]="tx.value"
        [name]="tx.node"
        ></app-battery>
    </div>
    </div>
  </ng-template>

  <ng-template #AbsoluteBarometricPressure>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-absolute-barometric-pressure
        [value]="tx.value"
        [name]="tx.node"
        ></app-absolute-barometric-pressure>
    </div>
    </div>
  </ng-template>

  <ng-template #EngineCoolantTemperature>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-engine-coolant-temperature
        [value]="tx.value"
        [name]="tx.node"
        ></app-engine-coolant-temperature>
    </div>
    </div>
  </ng-template>

  <ng-template #IntakeManifoldAbsolutePressure>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-intake-manifold-absolute-pressure
        [value]="tx.value"
        [name]="tx.node"
        ></app-intake-manifold-absolute-pressure>
    </div>
    </div>
  </ng-template>

  <ng-template #AirFlowRate>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-air-flow-rate
        [value]="tx.value"
        [name]="tx.node"
        ></app-air-flow-rate>
    </div>
    </div>
  </ng-template>
  
  <ng-template #ThrottlePosition>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
        <app-throttle-position
        [value]="tx.value"
        [name]="tx.node"
        ></app-throttle-position>
    </div>
    </div>
  </ng-template>

  <ng-template #TemperatureGauge>
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index"> 
        <app-temperature-gauge [value]="tx.value" [name]="tx.node"></app-temperature-gauge>
    </div>
    </div>
</ng-template>

<ng-template #IndicatorGauge>
  <div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let tx of mqPackets; let i = index">
      <app-indicator-gauge
      [value]="tx.value"
      [name]="tx.node"
      ></app-indicator-gauge>
  </div>
  </div>
</ng-template>

    <!-- <div [ngSwitch]="selectedChart">
    <app-animated-gauge *ngSwitchCase="'Animated Gauge'"[value]="50" [name]="'chart'"></app-animated-gauge>
    <app-pictorial-slice-shape *ngSwitchCase="'Pictorial Slice Shape'" [value]="50" [name]="'chart'"></app-pictorial-slice-shape>
    <app-pictorial-chart *ngSwitchCase="'Pictorial Chart'"[value]="50" [name]="'chart'"></app-pictorial-chart>
    <app-animated-gauge-blue *ngSwitchCase="'Animated Gauge Blue'"[value]="50" [name]="'chart'"></app-animated-gauge-blue>
</div> -->

  
  <div class="d-block d-md-none ">
    <div class="drop-down" [ngClass]="{ 'drop-down--active': menuToggle }">
      <div id="dropDown" class="drop-down__button" (click)="dropdownToggle('')">
        <span class="drop-down__name text-truncate">{{ selectedChart }}</span>
        <i
          class="fas fa-angle-down drop-down__icon"
          [ngClass]="{ 'drop-down__icon-rotate': menuToggle }"
        ></i>
      </div>
      <div class="drop-down__menu-box">
        <ul class="drop-down__menu">
          <li
            data-name="profile"
            class="drop-down__item"
            *ngFor="let chart of espmeterCharts"
            (click)="dropdownToggle(chart)"
          >
            {{ chart }}
          </li>
        </ul>
      </div>
    </div>
    <ng-container *ngIf="selectedChart === 'Animated Gauge'">
      <ng-container *ngTemplateOutlet="AnimatedGauge"></ng-container>
    </ng-container>
    <ng-container *ngIf="selectedChart === 'Pictorial Slice Shape'">
      <ng-container *ngTemplateOutlet="PictorialSliceShape"></ng-container>
    </ng-container>
    <ng-container *ngIf="selectedChart === 'Pictorial Chart'">
      <ng-container *ngTemplateOutlet="PictorialChart"></ng-container>
    </ng-container>
    <ng-container *ngIf="selectedChart === 'Animated Gauge Blue'">
      <ng-container *ngTemplateOutlet="AnimatedGaugeBlue"></ng-container>
    </ng-container>
    <ng-template #AnimatedGauge>
      <app-animated-gauge [value]="50" [name]="'chart'"></app-animated-gauge>
    </ng-template>
    <ng-template #PictorialSliceShape>
      <app-pictorial-slice-shape
        [value]="50"
        [name]="'chart'"
      ></app-pictorial-slice-shape>
    </ng-template>
    <ng-template #PictorialChart>
      <app-pictorial-chart [value]="50" [name]="'chart'"></app-pictorial-chart>
    </ng-template>
    <ng-template #AnimatedGaugeBlue>
      <app-animated-gauge-blue
        [value]="50"
        [name]="'chart'"
      ></app-animated-gauge-blue>
    </ng-template>
  </div>